* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;

  & > img {
    width: 100%;
    max-height: 100vh ;
  }

  & > div {
    width: 70%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    gap: 2%;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px 0 10px 15px;
    margin-bottom: 45px;
    background-color: #FFC107;
    opacity: 0.7;

    @media (max-width: 600px) {
      display: none;
    }
  }

  & > div:hover {
    background-color: #d17c0d;
  }

}